max_rd_len=250

[LIB]
avg_ins=400
asm_flags=3
rank=1
pair_num_cutoff=3
map_len=32
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_001.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_002.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_003.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_004.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_005.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_006.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_007.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_008.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_009.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_010.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_011.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_012.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L001_013.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_001.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_002.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_003.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_004.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_005.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_006.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_007.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_008.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_009.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_010.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_011.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_012.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_013.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S1_L002_014.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L001_001.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L001_002.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L001_003.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L001_004.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L002_001.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L002_002.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L002_003.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/D3_S3_L002_004.bfc.fa.gz

[LIB]
avg_ins=6000
reverse_seq=1
asm_flags=2
rank=2
pair_num_cutoff=5
map_len=35
p=/projects/btl/datasets/hsapiens/giab/HG004/MPHG004-23100079/MPHG004_S3_L003_001.mp.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/MPHG004-23110109/MPHG004_S3_L003_001.mp.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/MPHG004-23100079/MPHG004_S3_L003_001.unknown.bfc.fa.gz
p=/projects/btl/datasets/hsapiens/giab/HG004/MPHG004-23110109/MPHG004_S3_L003_001.unknown.bfc.fa.gz
